.header__decor {
  height: 3px;
  border-top: 3px solid #59b7c2;
  background-color: #7fcbce;
  border-bottom: 3px solid #aadce0; }

.header__block {
  background-color: #f5f7f9; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__call a {
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: normal;
    color: #444444;
    text-decoration: none;
    margin-left: 8px; }
  .navigation__welc {
    font-family: 'Bitter', serif;
    font-size: 12px;
    font-weight: normal;
    color: #777777; }
    .navigation__welc span {
      color: #59b7c2;
      cursor: pointer; }
  .navigation .navigation__choose {
    display: flex; }
    .navigation .navigation__choose .choose__lang {
      margin: 0;
      display: flex;
      list-style: none; }
      .navigation .navigation__choose .choose__lang li {
        font-family: 'Segoe UI';
        font-size: 11px;
        font-weight: normal;
        color: #444444;
        padding: 15px 10px;
        background-color: #e6e9ed;
        margin: 0 1px;
        cursor: pointer; }
    .navigation .navigation__choose .choose__curr {
      margin: 0;
      display: flex;
      list-style: none; }
      .navigation .navigation__choose .choose__curr li {
        font-family: 'Segoe UI';
        font-size: 11px;
        font-weight: normal;
        color: #444444;
        padding: 15px 10px;
        background-color: #e6e9ed;
        margin: 0 1px;
        cursor: pointer; }

.lang__active {
  background-color: #78c4cd !important; }

.curr__active {
  background-color: #78c4cd !important; }
