.header__decor {
  height: 3px;
  border-top: 3px solid #59b7c2;
  background-color: #7fcbce;
  border-bottom: 3px solid #aadce0; }

.header__block {
  background-color: #f5f7f9; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__call a {
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: normal;
    color: #444444;
    text-decoration: none;
    margin-left: 8px; }
  .navigation__welc {
    font-family: 'Bitter', serif;
    font-size: 12px;
    font-weight: normal;
    color: #777777; }
    .navigation__welc span {
      color: #59b7c2;
      cursor: pointer; }
  .navigation .navigation__choose {
    display: flex; }
    .navigation .navigation__choose .choose__lang {
      margin: 0;
      display: flex;
      list-style: none; }
      .navigation .navigation__choose .choose__lang li {
        font-family: 'Segoe UI';
        font-size: 11px;
        font-weight: normal;
        color: #444444;
        padding: 15px 10px;
        background-color: #e6e9ed;
        margin: 0 1px;
        cursor: pointer; }
    .navigation .navigation__choose .choose__curr {
      margin: 0;
      display: flex;
      list-style: none; }
      .navigation .navigation__choose .choose__curr li {
        font-family: 'Segoe UI';
        font-size: 11px;
        font-weight: normal;
        color: #444444;
        padding: 15px 10px;
        background-color: #e6e9ed;
        margin: 0 1px;
        cursor: pointer; }

.lang__active {
  background-color: #78c4cd !important; }

.curr__active {
  background-color: #78c4cd !important; }

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 60px 0; }
  .control .control__search {
    position: relative; }
    .control .control__search input {
      font-family: 'Segoe UI';
      font-size: 11px;
      font-weight: normal;
      color: #444444;
      width: 225px;
      padding: 10px; }
    .control .control__search img {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer; }
  .control .control__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    .control .control__buttons li {
      font-family: 'Segoe UI';
      font-size: 11px;
      font-weight: normal;
      color: #444444;
      color: #777777;
      font-size: 12px;
      border-right: 1px solid grey;
      padding: 0 15px;
      cursor: pointer; }
    .control .control__buttons li:last-child {
      padding-right: 0;
      border: none; }
  .control .cart {
    background-color: #f1f3f5;
    border-radius: 5px;
    padding: 0 15px;
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: normal;
    color: #444444; }
    .control .cart img {
      margin-right: 8px; }

.main {
  border-top: 1px solid #e0e0e0; }
  .main .navigation {
    background-color: #f5f7f9; }
    .main .navigation .navigation__list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .main .navigation .navigation__list li {
        font-family: 'Bitter', serif;
        font-size: 14px;
        font-weight: normal;
        color: #444444;
        text-transform: uppercase;
        padding: 20px;
        cursor: pointer;
        transition: 0.3s; }
      .main .navigation .navigation__list li:hover {
        background-color: #78c4cd;
        color: #fff;
        transition: 0.3s; }
  .main .slider__inside {
    position: relative; }
    .main .slider__inside .slider__left {
      position: absolute;
      cursor: pointer;
      top: 48%;
      left: 0; }
    .main .slider__inside .slider__right {
      position: absolute;
      cursor: pointer;
      top: 48%;
      right: 4px; }
    .main .slider__inside .slider__pointers {
      position: absolute;
      bottom: 7%;
      right: 2%;
      list-style: none;
      display: flex; }
      .main .slider__inside .slider__pointers li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #000;
        margin-right: 5px;
        border: 5px solid #fff;
        cursor: pointer;
        opacity: 0.5; }
      .main .slider__inside .slider__pointers .slider__active {
        background-color: #fff;
        border: 5px solid #000; }
  .main .banners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px; }
    .main .banners .banners__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid #e0e0e0;
      padding: 0 15px;
      flex-basis: 28%;
      border-radius: 3px; }
      .main .banners .banners__item img {
        width: 75px;
        height: 75px; }
      .main .banners .banners__item div {
        margin-left: 18px; }
        .main .banners .banners__item div p {
          font-family: 'Bitter', serif;
          font-size: 14px;
          font-weight: normal;
          color: #444444;
          font-size: 24px;
          line-height: 28px; }
          .main .banners .banners__item div p span {
            font-family: 'Segoe UI';
            font-size: 11px;
            font-weight: normal;
            color: #444444;
            font-size: 20px; }
