.link--blue {
  cursor: pointer;
  color: #59b7c2;
  text-decoration: none;
  transition: .3s ease; }
  .link--blue:hover {
    color: #96aaad; }

.header {
  background: url("../../img/headerBG.png") repeat-x 0 0 #f5f7f9;
  padding-top: 9px; }

.navigat {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigat__call a {
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: normal;
    color: #444444;
    text-decoration: none;
    margin-left: 8px; }
  .navigat__welc {
    font-family: 'Bitter', serif;
    font-size: 12px;
    font-weight: normal;
    color: #777777; }
  .navigat .navigat__choose {
    display: flex; }
    .navigat .navigat__choose .choose__lang,
    .navigat .navigat__choose .choose__curr {
      margin: 0;
      display: flex;
      list-style: none; }
      .navigat .navigat__choose .choose__lang li,
      .navigat .navigat__choose .choose__curr li {
        font-family: 'Segoe UI';
        font-size: 11px;
        font-weight: normal;
        color: #444444;
        transition: .3s ease;
        padding: 15px 10px;
        background-color: #e6e9ed;
        margin: 0 1px;
        cursor: pointer; }

.lang__active,
.curr__active,
.choose__lang li:hover,
.choose__curr li:hover {
  background-color: #78c4cd !important;
  color: #fff !important; }

@media (max-width: 760px) {
  .navigat {
    flex-wrap: wrap;
    padding-left: 20%; }
    .navigat__call {
      flex-basis: 100%;
      padding-bottom: 15px;
      padding-top: 15px; }
    .navigat__welc {
      flex-basis: 100%;
      padding-bottom: 15px; }
    .navigat__choose {
      flex-basis: 100%;
      margin-left: -40px; } }

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 60px 0; }
  .control .control__search {
    position: relative; }
    .control .control__search input {
      font-family: 'Segoe UI';
      font-size: 11px;
      font-weight: normal;
      color: #444444;
      width: 225px;
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      outline: none; }
    .control .control__search img {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer; }
  .control .control__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    .control .control__buttons li {
      font-family: 'Segoe UI';
      font-size: 11px;
      font-weight: normal;
      color: #444444;
      color: #777777;
      font-size: 12px;
      border-right: 1px solid #e0e0e0;
      padding: 0 15px;
      cursor: pointer;
      transition: .3s ease; }
      .control .control__buttons li:hover {
        color: #000; }
    .control .control__buttons li:last-child {
      padding-right: 0;
      border: none; }
  .control .cart {
    background-color: #f1f3f5;
    border-radius: 2px;
    padding: 0 15px;
    cursor: pointer;
    margin-left: 15px;
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: normal;
    color: #444444; }
    .control .cart img {
      margin-right: 8px; }

.block--inline {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media (max-width: 830px) {
  .control {
    flex-wrap: wrap;
    justify-content: center; }
    .control a {
      flex-basis: 100%;
      padding-left: calc(50% - 66px);
      padding-bottom: 20px; } }

@media (max-width: 689px) {
  .control__search {
    padding-bottom: 30px; } }

.main {
  border-top: 1px solid #e0e0e0; }
  .main .navigation {
    background-color: #f5f7f9; }
    .main .navigation .navigation__list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .main .navigation .navigation__list li {
        font-family: 'Bitter', serif;
        font-size: 14px;
        font-weight: normal;
        color: #444444;
        text-transform: uppercase;
        padding: 20px;
        cursor: pointer;
        transition: 0.3s; }
        .main .navigation .navigation__list li:hover {
          background-color: #78c4cd;
          color: #fff;
          transition: 0.3s; }
      .main .navigation .navigation__list .navigation--active {
        background-color: #78c4cd;
        color: #fff;
        transition: 0.3s; }
  .main .slider {
    margin-top: 20px;
    margin-bottom: 20px; }
  .main .slider__inside {
    position: relative;
    overflow: hidden; }
    .main .slider__inside .slider__content {
      display: flex;
      transition: .3s ease; }
      .main .slider__inside .slider__content .content__img {
        width: 100%;
        height: auto; }
    .main .slider__inside .slider__control {
      position: absolute;
      top: calc(50% - 21px);
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .main .slider__inside .slider__control img {
        cursor: pointer;
        transition: .3s ease;
        opacity: .8; }
        .main .slider__inside .slider__control img:hover {
          opacity: 1; }
    .main .slider__inside .slider__pointers {
      position: absolute;
      bottom: 7%;
      right: 3%;
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0; }
      .main .slider__inside .slider__pointers li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #000;
        margin-right: 5px;
        border: 5px solid #fff;
        cursor: pointer;
        opacity: 0.5; }
      .main .slider__inside .slider__pointers .slider__active {
        background-color: #fff;
        border: 5px solid #000; }
  .main .banners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px; }
    .main .banners .banners__item {
      display: flex;
      align-items: center;
      border: 1px solid #e0e0e0;
      padding: 0 15px;
      flex-basis: 28%;
      border-radius: 3px;
      cursor: pointer;
      transition: .3s ease; }
      .main .banners .banners__item:hover {
        border-color: #78c4cd; }
      .main .banners .banners__item img {
        width: 75px;
        height: 75px; }
      .main .banners .banners__item div {
        margin-left: 18px; }
        .main .banners .banners__item div p {
          font-family: 'Bitter', serif;
          font-size: 14px;
          font-weight: normal;
          color: #444444;
          font-size: 24px;
          line-height: 28px; }
          .main .banners .banners__item div p span {
            font-family: 'Segoe UI';
            font-size: 11px;
            font-weight: normal;
            color: #444444;
            font-size: 20px; }

@media (max-width: 585px) {
  .main .navigation .navigation__list li {
    padding: 10px; } }

@media (max-width: 475px) {
  .main .navigation .navigation__list li {
    font-size: 12px; } }

@media (max-width: 880px) {
  .main .banners {
    flex-wrap: wrap;
    justify-content: center; }
  .main .banners .banners__item {
    flex-basis: unset;
    margin: 10px; } }

.container {
  margin: 0 auto;
  max-width: 984px; }

.bestsellers {
  margin-bottom: 60px; }
  .bestsellers .bestsellers__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0; }
    .bestsellers .bestsellers__header h1 {
      font-family: 'Bitter', serif;
      font-size: 14px;
      font-weight: normal;
      color: #444444;
      font-size: 24px;
      line-height: 28px; }

.product__control img {
  opacity: .7;
  transition: .3s ease;
  cursor: pointer; }
  .product__control img:first-child {
    margin-right: 3px; }
  .product__control img:hover {
    opacity: 1; }

.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px; }
  .products .products__item {
    position: relative;
    flex-basis: 20%;
    border: 1px solid #e0e0e0;
    border-radius: 3px; }
    .products .products__item .sale {
      position: absolute;
      top: -4px;
      left: -4px; }
    .products .products__item .product__img {
      padding: 8px;
      cursor: pointer; }
    .products .products__item .item__name {
      font-family: 'Bitter', serif;
      font-size: 12px;
      font-weight: normal;
      color: #777777;
      font-size: 13px;
      line-height: 18px;
      padding: 8px;
      margin: 0;
      height: 35px; }
    .products .products__item .item__info {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      border-top: 1px solid #e0e0e0;
      height: 45px; }
      .products .products__item .item__info li {
        border-right: 1px solid #e0e0e0;
        padding: 7px; }
        .products .products__item .item__info li:last-child {
          border-right: none; }
      .products .products__item .item__info__price {
        font-family: 'Bitter', serif;
        font-size: 12px;
        font-weight: normal;
        color: #777777;
        color: #2e8f9a;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 7px;
        padding: 7px;
        flex-wrap: wrap;
        flex-basis: 100px; }
        .products .products__item .item__info__price .ex__price {
          font-size: 11px;
          color: #444444;
          text-decoration: line-through;
          width: 100%; }
      .products .products__item .item__info__transfer {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px; }
      .products .products__item .item__info__like {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
      .products .products__item .item__info__cart {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f7f9;
        cursor: pointer; }

.allnews {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 70px; }
  .allnews .aboutus, .allnews .news, .allnews .newsletter {
    background-color: #f5f7f9;
    padding: 0 20px;
    flex-basis: 27%; }
    .allnews .aboutus h1, .allnews .news h1, .allnews .newsletter h1 {
      font-family: 'Bitter', serif;
      font-size: 14px;
      font-weight: normal;
      color: #444444;
      font-size: 18px;
      margin: 15px 0 25px 0; }
    .allnews .aboutus p, .allnews .news p, .allnews .newsletter p {
      font-family: 'Segoe UI';
      font-size: 11px;
      font-weight: normal;
      color: #444444;
      margin: 0;
      margin-bottom: 20px;
      color: #777777;
      line-height: 17px; }
  .allnews .news span {
    font-family: 'Segoe UI';
    font-size: 11px;
    color: #777777;
    font-style: italic; }
  .allnews .news p {
    color: #2e8f9a; }
  .allnews .newsletter form {
    position: relative;
    margin-bottom: 22px; }
    .allnews .newsletter form input {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      font-family: 'Segoe UI';
      font-size: 11px;
      font-weight: normal;
      color: #444444;
      border-radius: 3px;
      border: 1px solid #ccc;
      outline: none;
      background: url("../../img/go.png") no-repeat calc(100% - 8px) 50% #fff;
      padding-right: 30px; }
    .allnews .newsletter form img {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer; }
  .allnews .newsletter div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .allnews .newsletter div p {
      margin: 0;
      padding-left: 20px;
      padding-right: 30px;
      font-family: 'Bitter', serif;
      line-height: 17px;
      font-size: 11px;
      font-style: italic; }

.footer {
  background-image: url("../../img/footerBG.png");
  padding: 60px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  .footer .footer__tags {
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
    .footer .footer__tags ul {
      list-style: none;
      margin: 0;
      flex-grow: 1;
      padding-left: 15px; }
      .footer .footer__tags ul li {
        padding-top: 15px;
        font-family: 'Segoe UI';
        font-size: 12px;
        color: #777777; }
        .footer .footer__tags ul li h1 {
          font-family: 'Bitter', serif;
          font-size: 14px;
          font-weight: normal;
          color: #444444;
          font-size: 18px;
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 15px;
          margin: 0; }
        .footer .footer__tags ul li img {
          padding-right: 8px; }
        .footer .footer__tags ul li a {
          text-decoration: none;
          color: #777777; }

.developer {
  background-color: #f9fbfc;
  padding: 30px 0; }
  .developer .developer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .developer .developer__flex p {
      font-family: 'Segoe UI';
      font-size: 11px;
      font-weight: normal;
      color: #444444;
      color: #777777; }

body {
  position: relative; }

.popup {
  display: none; }

.popup--active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .popup--active .popup__form {
    display: block;
    background-color: #fff;
    border: 3px solid #e0e0e0;
    border-radius: 3px;
    margin: 50px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .popup--active .popup__form input {
      margin: 30px; }
    .popup--active .popup__form p {
      margin: 0 auto;
      padding-bottom: 20px;
      font-size: 18px;
      color: red; }
