@import 'header';
.control{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0 60px 0;
	.control__search{
		position: relative;
		input{
			@include segoe-text;
			width: 225px;
			padding: 10px;
			border:1px solid #cccccc;
			border-radius: 3px;
			outline: none;
		}
		img{
			position: absolute;
			right: 10px;
			top: 10px;
			cursor: pointer;
		}
	}
	.control__buttons{
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			@include segoe-text;
			color: #777777;
			font-size: 12px;
			border-right: 1px solid #e0e0e0;
			padding: 0 15px;
			cursor: pointer;
			@include transition;
			&:hover{
				color: #000;
			}
		}
		li:last-child{
			padding-right: 0;
			border: none;
		}
	}
	.cart{
		background-color: #f1f3f5;
		border-radius: 2px;
		padding: 0 15px;
		cursor:pointer;
		margin-left: 15px;
		@include segoe-text;
		img{
			margin-right: 8px;
		}
	}
}
.block--inline{
	display: flex;
	justify-content: space-between;
	align-items: center;
}