@import 'mixin';
.header{
	background:url('../../img/headerBG.png') repeat-x 0 0 #f5f7f9;
	padding-top: 9px;
}
.navigat{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__call{
		a{
			@include segoe-text;
			text-decoration: none;
			margin-left: 8px;

		}
	}
	&__welc{
		@include bitter-text;
	}
	.navigat__choose{
		display: flex;
		.choose__lang, 
		.choose__curr{
			margin: 0;
			display: flex;
			list-style: none;
			li{
				@include segoe-text;
				@include transition;
				padding: 15px 10px;
				background-color: #e6e9ed;
				margin: 0 1px;
				cursor: pointer;
			}
		}
	}
}
.lang__active,
.curr__active,
.choose__lang li:hover, 
.choose__curr li:hover
{
	background-color: #78c4cd !important;
	color: #fff !important;
}

@media (max-width: 760px) {
	.navigat{
		flex-wrap: wrap;
		padding-left: 20%;
		&__call{
			flex-basis: 100%;
		    padding-bottom: 15px;
		    padding-top: 15px;
		}
		&__welc{
		    flex-basis: 100%;
    		padding-bottom: 15px;
		}
		&__choose{
		    flex-basis: 100%;
    		margin-left: -40px;
		}
	}
}