@import 'mixin';
.header__decor{
	height: 3px;
	border-top: 3px solid #59b7c2;
	background-color: #7fcbce;
	border-bottom: 3px solid #aadce0;
}
.header__block{
	background-color: #f5f7f9;
}
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__call{
		a{
			@include segoe-text;
			text-decoration: none;
			margin-left: 8px;

		}
	}
	&__welc{
		@include bitter-text;
		span{
			color: #59b7c2;
			cursor: pointer;
		}
	}
	.navigation__choose{
		display: flex;
		.choose__lang{
			margin: 0;
			display: flex;
			list-style: none;
			li{
				@include segoe-text;
				padding: 15px 10px;
				background-color: #e6e9ed;
				margin: 0 1px;
				cursor: pointer;
			}
		}
		.choose__curr{
			margin: 0;
			display: flex;
			list-style: none;
			li{
				@include segoe-text;
				padding: 15px 10px;
				background-color: #e6e9ed;
				margin: 0 1px;
				cursor: pointer;
			}
		}
	}
}
.lang__active{
	background-color: #78c4cd !important;
}
.curr__active{
	background-color: #78c4cd !important;
}