@import 'mainsection';
.container{
	margin: 0 auto;
	max-width: 984px;
}

.bestsellers{
	margin-bottom: 60px;
	.bestsellers__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e0e0e0;
		h1{
			@include bitter-max;
			font-size: 24px;
			line-height: 28px;
		}
	}
}
.product__control{
	img{
		opacity: .7;
		@include transition;
		cursor: pointer;
		&:first-child{
			margin-right:3px;
		}
		&:hover{
			opacity:1;
		}
	}
}
.products{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 60px;
	.products__item{
		position: relative;
		flex-basis: 20%;
		border: 1px solid #e0e0e0;
		border-radius: 3px;
		.sale{
			position: absolute;
			top: -4px;
			left: -4px;
		}
		.product__img{
			padding: 8px;
			cursor:pointer;
		}
		.item__name{
			@include bitter-text;
			font-size: 13px;
			line-height: 18px;
			padding: 8px;
			margin: 0;
			height: 35px;
		}
		.item__info{
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			list-style: none;
			margin:0;
			padding:0;
			width: 100%;
			border-top: 1px solid #e0e0e0;
			height: 45px;
			li{
				border-right:1px solid #e0e0e0;
				padding:7px;
				&:last-child{
					border-right:none;
				}
			}
			&__price{
				@include bitter-text;
				color: #2e8f9a;
				flex-grow: 1;
				display:flex;
				justify-content: flex-start;
				align-items:center;
				padding-left: 7px;
				padding: 7px;
				flex-wrap: wrap;
				flex-basis:100px;
				.ex__price{
					font-size: 11px;
					color: #444444;
					text-decoration: line-through;
					width: 100%;
				}
			}
			&__transfer{
				flex-grow: 1;
				display:flex;
				justify-content: center;
				align-items:center;
				cursor: pointer;
				padding: 10px;
			}
			&__like{
				flex-grow: 1;
				display:flex;
				justify-content: center;
				align-items:center;
				cursor: pointer;
			}
			&__cart{
				flex-grow: 1;
				display:flex;
				justify-content: center;
				align-items:center;
				background-color: #f5f7f9;
				cursor: pointer;
			}
		}
	}
}


.allnews{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 70px;
	.aboutus, .news, .newsletter{
		background-color: #f5f7f9;
		padding: 0 20px;
		flex-basis: 27%;
		h1{
			@include bitter-max;
			font-size: 18px;
			margin: 15px 0 25px 0;
		}
		p{
			@include segoe-text;
			margin: 0;
			margin-bottom: 20px;
			color: #777777;
			line-height:17px;
		}
	}
	.news{
		span{
			font-family: 'Segoe UI';
			font-size: 11px;
			color: #777777;
			font-style: italic;
		}
		p{
			color: #2e8f9a;
		}
	}
	.newsletter{
		form{
			position: relative;
			margin-bottom: 22px;
			input{
				width:100%;
				box-sizing: border-box;
				padding:10px;
				@include segoe-text;
				border-radius: 3px;
				border: 1px solid #ccc;
				outline: none;
				background: url('../../img/go.png') no-repeat calc(100% - 8px) 50% #fff;
				padding-right:30px;
			}
			img{
				position: absolute;
				right:10px;
				top: 10px;
				cursor: pointer;
			}
		}
		div{
			display: flex;
			justify-content: space-between;
			align-items: center;
			p{
				margin: 0;
				padding-left: 20px;
				padding-right: 30px;
				font-family: 'Bitter', serif;
				line-height: 17px;
				font-size: 11px;
				font-style: italic;
			}
		}
	}
}

.footer{
	background-image: url('../../img/footerBG.png');
	padding:60px 0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	.footer__tags{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		ul{
			list-style: none;
			margin: 0;
			flex-grow: 1;
			padding-left: 15px;
			li{
				padding-top:15px;
				font-family: 'Segoe UI';
				font-size:12px;
				color:#777777;
				h1{
					@include bitter-max;
					font-size: 18px;
					border-bottom: 1px solid #e0e0e0;
					padding-bottom: 15px;
					margin:0;
				}
				img{
					padding-right: 8px;
				}
				a{
					text-decoration: none;
					color:#777777;
				}
			}
		}
	}
}
.developer{
	background-color:#f9fbfc;
	padding: 30px 0;
	.developer__flex{
		display: flex;
		justify-content: space-between;
		align-items: center;
		p{
			@include segoe-text;
			color: #777777;
		}
	}
}
body{
	position: relative;
}
.popup{
	display: none;
}
.popup--active{
	display: block;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	.popup__form{
		display: block;
		background-color: #fff;
		border: 3px solid #e0e0e0;
		border-radius: 3px;
		margin:50px;
		width: 320px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		input{
			margin: 30px;
		}
		p{
			margin: 0 auto;
			padding-bottom: 20px;
			font-size:18px;
			color: red;
		}
	}
}